.canvas .comp {
    cursor: pointer;
    border: solid black;
    word-wrap: break-word;
}

.leftWorkaround {
    text-align: left;
}

.centerWorkaround {
    text-align: center;
}

.rightWorkaround {
    text-align: right;
}