*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.flexbox {
    display: flex;
    justify-content: space-around;

    width:100%;
    height: 100vh;

    overflow:hidden;
    margin: 0 auto;
    padding: 15px;
}

.flexbox .canvas{
    display: flex;

    width: 80%;
    background-color: rgb(220, 118, 118);

    padding: 15px;
}
.flexbox .pallet{
    display: flex;
    flex-direction: column;

    width: 20%;
    background-color: rgb(129, 17, 174);

    padding: 15px;
}
.flexbox .pallet Button{
    margin-bottom: 10px;
}
.flexbox .canvas .comp {
    padding: 15px 25px;
    cursor: pointer;
    border: solid black;
    height: fit-content;
}