.wave-container {
  background: url("../assets/wave.svg");
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.wave-container > svg {
  display: block;
}

.form {
  display: grid;
}
